.button {
  position: relative;
  height: 60px;
  font-size: 18px;
  font-weight: 700;
  line-height: 60px;
  color: #ffffff;
  background-color: #fc9b27;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  outline: none;
  background-image: none;
  box-shadow: none;
  cursor: pointer;
}

.button:hover,
.button:active {
  background-color: #fc9b27;
}
