.star {
  width: 353px;
  height: 525px;
  padding: 20px;
  border-radius: 12px;
  background-color: #ffffff;
  box-sizing: border-box;
}

.star_wrapper {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
}

.star_image {
  width: 100%;
  height: auto;
}

.star_icon {
  position: absolute;
  top: 0;
  left: 0;
}

.star__about {
  margin-top: 12px;
}
