.about {
  position: relative;
  display: flex;
  min-height: 600px;
  padding-left: 90px;
  padding-right: 553px;
  background-color: #d8ecfe;
  align-items: center;
}

.about::after {
  position: absolute;
  bottom: 0;
  right: 90px;
  display: block;
  content: "";
  width: 446px;
  height: 563px;
  margin: auto;
  background-image: url("../../assets/images/about.svg");
}

.about p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about .about__text {
  margin-top: 24px;
  padding-right: 116px;
  margin-bottom: 40px;
}

.about__wrapper {
  max-width: 650px;
}
