.about {
  position: relative;
  display: flex;
  height: 600px;
  padding-left: 91px;
  padding-right: 603px;
  background-color: #fff6d9;
  align-items: center;
}

.about::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 90px;
  display: block;
  content: "";
  width: 446px;
  height: 446px;
  margin: auto;
  background-image: url("../../assets/images/about.svg");
}

.about p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about .about__text {
  margin-top: 20px;
  padding-right: 142px;
  margin-bottom: 40px;
}

.about .about__time {
  height: 43px;
  width: 292px;
  margin-bottom: 20px;
  padding: 8px;
  border-radius: 8px;
  background-color: #ffeead;
  vertical-align: middle;
}

.about .about__address::before {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
  content: "";
  background-image: url("../../assets/images/map-mark.svg");
}

.about__wrapper {
  max-width: 650px;
}
