.header {
  display: flex;
  height: 80px;
  padding-left: 90px;
  padding-right: 90px;
  justify-content: space-between;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.04), 0 0 2px rgba(0, 0, 0, 0.06), 0 0 1px rgba(0, 0, 0, 0.04);
  align-items: center;
}
