.icon {
  display: block;
  height: 43px;
  padding: 8px 16px;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  color: #ffffff;
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 8px 8px 8px 0;
}

.icon_new {
  background-color: #ffb334;
}

.icon_soft {
  background-color: #7fc92e;
}
