.footer {
  display: flex;
  height: 80px;
  padding-left: 90px;
  padding-right: 90px;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
}

.footer__right {
  height: 43px;
  width: 148px;
  padding: 8px 12px;
  font-size: 18px;
  line-height: 43px;
  background-color: #fff6d9;
  border-radius: 5px;
  vertical-align: middle;
  text-align: center;
}
