.footer {
  display: flex;
  height: 80px;
  padding-left: 90px;
  padding-right: 90px;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
}

.footer__right {
  font-size: 18px;
  line-height: 43px;
}
